@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: auto;
    background: black;
}

header {
    padding: 20px;
    font-family: 'Bebas Neue', 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

div, p {
    text-align: center;
    padding: 5px;
}

section {
    font-family: 'Roboto Condensed', 'Times New Roman', Times, serif;
    font-size: 20px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
}

#foto {
    padding-top: 20px;
}

.botao {
    font-size: 0.5em;
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
}

/*Adaptabilidade*/
@media screen and (max-width: 425px) {

    section {
        text-align: center;
        width: 285px;
        padding-left: 0;
    }
}